@media screen and (min-width: 992px) and (max-width: 1200px) {
    .work-gallery{
        padding-left: 4px;
    }

    .millidesign {
        padding-top: 20px;
    }

    .loom .greeting-header {
        font-size: 33px;
    }

    .crowdme {
        background: url(../images/logo-img-crowdme.png) no-repeat 10px 16px;
    }

    .crowdme .logo-text {
        margin-left: 38px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .social {
        margin: 10px 0 0 20px;
    }

    .social-link .fa {
        font-size: 25px;
    }

    .section-title,
    .section-content-data {
        text-align: center;
        padding-bottom: 15px;
    }

    .section-content {
        padding-bottom: 15px;
    }

    .section-content-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 60%;
        margin: 0 auto;
    }

    .section-content-list-skill {
        width: 38%;
    }

}

@media screen and (min-width: 479px) and (max-width: 767px) {
    .wrap {
        width: 96%;
    }

    .header-image {
        padding: 0 25px;
    }

    .header-content {
        padding-left: 0;
    }

    .header-content-info-item .fa {
        margin-right: 10px;
        margin-bottom: 10px;
        font-size: 20px;
    }

    .header-title {
        font-size: 35px;
    }

    .social {
        margin: 23px 0 0 5px;
        display: flex;
        justify-content: space-around;
        padding-left: 15px;
    }

    .social-item {
         margin-left: 0;
    }

    .social-link .fa {
        font-size: 40px;
    }

    .section-title,
    .section-content-data {
        text-align: center;
        padding-bottom: 15px;
    }

    .section-content {
        padding-bottom: 15px;
    }

    .section-content-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 60%;
        margin: 0 auto;
    }

    .section-content-list-skill {
        width: 38%;
    }

    .work-gallery-logo {
        width: 230px;
        margin: 0 auto;
    }

    .work-gallery-link {
        visibility: visible;
        opacity: 0;
    }
}

@media screen and (min-width: 319px) and (max-width: 478px) {
    .wrap {
        width: 100%;
        border: 0;
        border-radius: inherit;
        margin: 0;
    }

    .wrap-image {
        display: none;
    }

    .header {
        text-align: center;
    }

    .header-image {
        padding: 25px 25px;
        width: 60%;
        text-align: center;
        float: inherit;
    }

    .header-content {
        padding-top: 20px;
        padding-left: 15px;
        width: 100%;
    }

    .header-content-info-item .fa {
        margin-right: 10px;
        margin-bottom: 10px;
        font-size: 20px;
    }

    .header-title {
        font-size: 35px;
    }

    .social {
        margin: 23px 0 0;
        display: flex;
        justify-content: space-around;
        padding-left: 15px;
    }

    .social-item {
        margin-left: 0;
    }

    .social-link .fa {
        font-size: 40px;
    }

    .section-title,
    .section-content-data {
        text-align: center;
        padding-bottom: 15px;
    }

    .section-content {
        padding-bottom: 15px;
    }

    .section-content-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;
    }

    .section-content-list-skill {
        width: 100%;
    }

    .work-gallery-logo {
        width: 230px;
        margin: 0 auto;
    }

    .work-gallery-link {
        visibility: visible;
        opacity: 0;
    }

    .work-gallery-link-image {
        width: 100%;
    }

    .button-wrap .btn:nth-child(3) {
        margin-top: 10px;
    }
}

