body {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  line-height: 17px;
  font-weight: 400;
  background-image: url("../images/bg.jpg"); }

.hide_popup {
  display: none; }

/*----------Header----------*/
.wrap {
  box-sizing: border-box;
  background-color: #fff;
  position: relative;
  margin: 100px auto;
  border-radius: 8px;
  border: 30px solid #070625;
  width: 80%; }
  .wrap .wrap-image {
    width: calc(100% + 2px);
    position: relative;
    top: -30px;
    left: -1px; }

.header {
  padding: 0 0 50px; }

.header-image {
  padding: 0 10px 0 60px; }

.header-content {
  padding-left: 20px; }

.header-title,
.popup-title {
  font-family: 'Arimo', sans-serif;
  font-weight: 300;
  font-size: 40px;
  line-height: 30px;
  color: #1b4491;
  margin-left: -3px;
  margin-bottom: 20px; }

.header-content-info-item .fa {
  color: rgba(0, 0, 0, 0.8);
  margin-right: 10px;
  margin-bottom: 10px; }

.header-content-info-link {
  color: #000; }

.social {
  margin: 35px  0;
  padding-left: 0; }

.social-item {
  display: inline-block;
  margin-left: 10px; }
  .social-item:first-child {
    margin-left: 0; }

.social-link {
  color: #7b90b5; }
  .social-link .fa {
    font-size: 20px; }

/*----------Header-End---------*/
/*----------Main-End---------*/
.section {
  padding: 0 0 15px; }

.section-title {
  text-align: right;
  font-size: 17px;
  padding-bottom: 15px;
  color: #1b4491;
  text-transform: uppercase; }

.section-content {
  padding-bottom: 10px; }

.section-content-data {
  text-align: right;
  color: #7b90b5; }

.section-content-list-skill {
  list-style-type: none;
  display: inline-block;
  width: 32.33%;
  margin-top: 6px; }
  .section-content-list-skill:before {
    font-family: "FontAwesome", sans-serif;
    font-size: 6px;
    line-height: 13px;
    vertical-align: middle;
    padding-right: 5px;
    content: "\f111";
    color: #7b90b5; }

.section-content-text-name {
  font-weight: 600; }

.section-content-text-position,
.content-text-position-title,
.section-content-text-speciality,
.section-content-text-grade {
  font-style: italic;
  color: #777777;
  font-size: 12px;
  padding-top: 3px; }

.section-content-text-todo {
  padding-top: 5px; }

.content-text-todo-item {
  margin-top: 6px;
  padding-left: 10px; }
  .content-text-todo-item:before {
    font-family: "FontAwesome", sans-serif;
    font-size: 6px;
    line-height: 13px;
    vertical-align: middle;
    padding-right: 5px;
    content: "\f111";
    color: #7b90b5; }

/*----------Work---------*/
.work-gallery {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding-top: 40px;
  padding-bottom: 30px; }

.work-gallery-item {
  margin-bottom: 15px; }

.work-gallery-link {
  visibility: hidden;
  opacity: 0;
  background-color: rgba(27, 109, 133, 0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  text-decoration: none;
  top: 0;
  left: 0;
  -webkit-transition: 0.5s;
          transition: 0.5s; }
  .work-gallery-link:hover {
    text-decoration: none; }

.gallery-hover-text {
  font-family: 'MyriadPro-Regular', sans-serif;
  font-size: 20px;
  line-height: 80px;
  text-transform: none;
  text-decoration: none;
  color: #fff;
  font-weight: 400; }

.work-gallery-logo {
  height: 80px;
  line-height: 80px;
  border: 1px solid #7b90b5;
  text-align: center;
  position: relative; }
  .work-gallery-logo:hover .work-gallery-link, .work-gallery-logo:focus .work-gallery-link {
    visibility: visible;
    opacity: 1; }

.millidesign {
  padding-top: 19px;
  font-family: 'Oswald', sans-serif;
  font-size: 26px;
  font-weight: 400;
  color: #3b3b3b;
  text-transform: uppercase;
  line-height: 1; }
  .millidesign .logo-milli {
    color: #50cbbe; }
  .millidesign .logo-small {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    line-height: 22px;
    font-weight: 400;
    text-transform: uppercase; }

.meplife .meplife-image {
  width: 100%;
  vertical-align: middle; }

.zonya {
  background-color: #2d2d30;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #c5c5c5;
  font-weight: 900;
  text-transform: uppercase; }
  .zonya .header-logo-text-big {
    color: #7bb9b3;
    font-family: 'Archer-Medium', serif;
    font-size: 3.286em;
    font-weight: 500; }

.modusVersus {
  font-family: "Open Sans", sans-serif;
  line-height: 74px;
  color: #fff;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 30px;
  background-color: #76C7C0; }
  .modusVersus .header-logo-sub {
    font-weight: 400;
    font-size: 25px;
    text-transform: lowercase; }

.loom .greeting-header {
  color: #606060;
  font-size: 35px;
  font-weight: 800;
  padding-bottom: 14px; }

.brandly {
  display: block;
  color: rgba(220, 0, 0, 0.8);
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  background-image: url("../images/Brandly-logo_bg.png");
  background-size: cover; }
  .brandly .logo-main {
    font-family: 'Bebas Neue Book', sans-serif;
    font-size: 48px; }
  .brandly .logo-small {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 36px; }

.crowdme {
  display: block;
  text-decoration: none;
  font-family: 'MyriadPro-Regular', sans-serif;
  text-transform: uppercase;
  font-size: 31px;
  line-height: 77px;
  cursor: pointer;
  background: url(../images/logo-img-crowdme.png) no-repeat 30px 16px; }
  .crowdme .logo-text {
    color: #6d6e70;
    margin-left: 54px; }
  .crowdme .logo-text-end {
    color: #595959;
    margin-left: -6px; }

.foinni {
  font-size: 40px;
  font-weight: 400;
  text-decoration: none;
  background-color: #020200; }
  .foinni .header-logo-small {
    color: #fffcf4; }
  .foinni .header-logo-big {
    color: #1dde85;
    font-family: 'Pacifico', cursive;
    position: relative;
    left: -9px; }

.inline-image {
  width: 100%;
  height: auto; }

.fancybox-nav {
  width: 15%;
  height: 75%; }

.popup-title {
  margin-left: 0; }

.button-wrap {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px; }

.popup-text {
  padding: 15px; }

.popup-text-owner {
  padding: 15px 15px 0;
  font-weight: 600; }
  .popup-text-owner .popup-text-allot {
    font-weight: 400; }

.popup-text-owner-link:hover, .popup-text-owner-link:focus {
  text-decoration: none;
  color: #337ab7; }

.popup-text-allot {
  color: #7b90b5;
  padding-right: 10px; }

/*----------Work-End---------*/
/*----------Main-End---------*/
