@media screen and (max-width: 1200px) and (min-width: 993px) {
    .container {
        width: 970px;
    }
}

@media screen and (max-width: 992px) and (min-width: 769px) {
    .container {
        width: 750px;
    }

    .we-do-item{
        width: 49%;
        margin-right: 2%;
        margin-bottom: 15px;
    }

    .we-do-item:nth-child(2n) {
        margin-right: 0;
    }
}

@media screen and (max-width: 768px) and (min-width: 480px) {
    .container {
        width: auto;
    }

    .header {
        padding: 28px;
        height: auto;
    }

    .header-logo {
        text-align: center;
    }

    .header-menu {
        display: none;
    }
    
    .slicknav_btn {
        float: right;
        margin-top: 10px;
    }

    .slicknav_menu {
        display: block;
    }

    .slicknav_icon {
        height: 36px;
    }

    .slicknav_icon .fa-bars {
        font-size: 36px;
        color: rgb(96, 96, 96);
    }

    .slicknav_nav {
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        z-index: 2;
        background-color: rgb(55, 55, 55);
    }

    .header-menu-item {
        float: none;
        margin-right: 0;
        text-align: center;
    }

    .header-menu-link {
        line-height: 50px;
        color: #fff;
    }

    .greeting{
        padding: 35px 15px 30px;
    }

    .greeting-header{
        font-size: 28px;
        padding-bottom: 14px;
    }

    .greeting-p{
        font-size: 18px;
    }

    .slider-content {
        bottom: 20px;
        left: 72px;
    }

    .slider-head {
        font-size: 15px;
    }

    .slider-head, .slider-text {
        height: 30px;
        line-height: 30px;
    }

    .slider-text {
        font-size: 12px;
    }

    .we-do-item{
        width: 49%;
        margin-right: 2%;
        margin-bottom: 15px;
    }

    .we-do-item:nth-child(2n) {
        margin-right: 0;
    }

    .process-item {
        width: 49%;
    }

    .project-item {
        width: 75%;
        margin-bottom: 25px;
    }

    .footer{
        padding: 65px 15px 35px;
    }

    .footer-block {
        width: 48%;
        margin-right: 4%;
    }

    .footer-block:nth-child(2n){
        margin-right: 0;
    }

    .copyright-text {
        padding-left: 15px;
    }
}

@media screen and (max-width: 479px) and (min-width: 320px) {
    .container {
        width: auto;
    }

    .header {
        padding: 28px;
        height: auto;
    }

    .header-logo {
        text-align: center;
    }

    .header-menu {
        display: none;
    }

    .slicknav_btn {
        float: right;
        margin-top: 10px;
    }

    .slicknav_menu {
        display: block;
    }

    .slicknav_icon {
        height: 36px;
    }

    .slicknav_icon .fa-bars {
        font-size: 36px;
        color: rgb(96, 96, 96);
    }

    .slicknav_nav {
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        z-index: 2;
        background-color: rgb(55, 55, 55);
    }

    .header-menu-item {
        float: none;
        margin-right: 0;
        text-align: center;
    }

    .header-menu-link {
        line-height: 50px;
        color: #fff;
    }

    .greeting{
        padding: 35px 15px 30px;
    }

    .greeting-header{
        font-size: 21px;
        padding-bottom: 14px;
    }

    .greeting-p{
        font-size: 14px;
    }

    .slider-content {
        bottom: 8px;
        left: 20px;
    }

    .slider-head {
        font-size: 15px;
    }

    .slider-head, .slider-text {
        height: 16px;
        line-height: 16px;
    }

    .slider-text {
        font-size: 10px;
    }

    .title:before {
        left: -60px;
    }

    .title:after {
        right: -60px;
    }
    .title:before, .title:after {
        width: 55px;
    }

    .we-do {
        padding: 40px 15px;
        margin: 0 auto;
    }

    .we-do-item{
        width: 100%;
        margin-right: 0;
        margin-bottom: 15px;
    }

    .we-do-item:nth-child(2n) {
        margin-right: 0;
    }

    .process-item {
        width: 49%;
    }

    .project-item {
        width: 75%;
        margin-bottom: 25px;
    }

    .footer{
        padding: 65px 25px 35px;
    }

    .footer-block {
        width: 100%;
        margin-right: 0;
    }

    .footer-block:nth-child(2n){
        margin-right: 0;
    }

    .copyright-text {
        padding-left: 10px;
        font-size: 12px;
    }
}