/*
font-family: 'Open Sans', sans-serif;
*/

.container{
    width: 1170px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

.clearfix:after{
    content: "";
    display: table;
    clear: both;
}

.title {
    font-family: "Myriad Pro", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    padding-bottom: 25px;
    position: relative;
    display: inline-block;
}

.title:before,
.title:after {
    content: '';
    width: 82px;
    height: 1px;
    background-color: #777;
    position: absolute;
    top: 9px;
}

.title:before {
    left: -100px;
}

.title:after {
    right: -100px;
}

/*--------BG-TOP---------*/
.bg-top{
    height: 3px;
    background-color: rgb(65, 65, 65);
}
/*--------END-BG-TOP---------*/

/*------------HEADER-----------*/
.header {
    background-color: whitesmoke;
    padding-top: 28px;
    height: 89px;
}

.header-logo{
    display: block;
    float: left;
}

.header-menu{
    float: right;
    margin-top: 20px;
}

.slicknav_menu {
    display:none;
}

.header-menu-item{
    float: left;
    margin-right: 45px;
}

.header-menu-item:last-child{
    margin-right: 0;
}

.header-menu-link{
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(96, 96, 96);
    text-decoration: none;
}

.header-menu-item_active a{
    color: rgb(26, 187, 156);
}
/*-------------HEADER-END---------*/

/*-------------GREETING-----------*/

.greeting{
    padding: 65px 0 60px;
}

.greeting-header{
    color: rgb(96, 96, 96);
    font-size: 35px;
    font-weight: 800;
    padding-bottom: 14px;
}

.greeting-p{
    color: rgb(96, 96, 96);
    font-size: 25px;
    font-weight: 300;
}

/*------------SLIDER-----------*/

.slick-next,
.slick-prev{
    width: 45px;
    height: 45px;
    z-index: 1;
}

.slick-next{
    right: 20px;
    background: url("../images/btn_right.png") no-repeat;
}

.slick-prev{
    left: 20px;
    background: url("../images/btn_left.png") no-repeat;
}

.slick-next:before,
.slick-prev:before{
    content: '';
}

.slider-image {
    width: 100%;
}

.slider-content{
    position: absolute;
    bottom: 50px;
    left: 50px;
}

.slider-head,
.slider-text{
    height: 48px;
    background-color: rgba(255, 255, 255, 0.95);
    line-height: 48px;
    display: inline-block;
    padding: 0 20px;
}

.slider-head{
    color: rgb(96, 96, 96);
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 3px;
}

.slider-text{
    font-size: 16px;
    font-weight: 500;
    color: rgb(96, 96, 96);
}

.slider-text-link{
    color: rgb(26, 187, 156);
    text-decoration: none;
}

/*-------------SLIDER-END---------*/

/*-----------WE-DO---------*/

.we-do{
    padding: 80px 0;
    text-align: center;
}

.we-do-item{
    text-align: center;
    float: left;
    width: 23%;
    margin-right: 2.66%;
    box-sizing: border-box;
}

.we-do-item_last{
    margin-right: 0;
}

.we-do-item,
.we-do-item-border{
    border: 1px solid rgb(225, 225, 225);
}

.we-do-item-border{
    margin: 3px;
    height: 302px;
    box-sizing: border-box;
}

.we-do-item-img{
    height: 55px;
    padding: 49px 0 28px;
}

.we-do-item-header{
    color: rgb(96, 96, 96);
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 14px;
    padding: 0 15px;
}

.we-do-item-text{
    color: rgb(122, 122, 122);
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    padding: 0 15px;
}

/*----------------END-WE-DO----------*/
/*---------------process------------*/
.process {
    padding: 70px 0;
    background-image: url('../images/process.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #d0d0d0;
    font-family: "Myriad Pro", sans-serif;
    font-weight: 400;
    text-align: center;
}

.title {
    font-family: "Myriad Pro", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    padding-bottom: 25px;
    position: relative;
    display: inline-block;
}

.title:before,
.title:after {
    content: '';
    width: 82px;
    height: 1px;
    background-color: #777;
    position: absolute;
    top: 9px;
}

.title:before {
    left: -100px;
}

.title:after {
    right: -100px;
}

.process-text-wrap {
    margin: 0 auto;
    width: 70%;
}

.process-text {
    font-family: "Myriad Pro", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 30px;
}

.process-item {
    margin: 0 auto;
    display: inline-block;
    width: 24%;
    box-sizing: border-box;
}

.process-item-icon {
    width: 94px;
    height: 94px;
    border: 2px solid #1abb9c;
    border-radius: 50%;
    text-align: center;
    margin: 20px auto;
}

.process-item-icon i {
    margin-top: 17px;
    font-size: 56px;
    color: #1abb9c;
}

.process-item-icon:hover {
    background-color: #1abb9c;
}

.process-item-icon:hover i {
    font-size: 56px;
    color: #f9f9f9;
}
/*---------------END-process------------*/
/*---------------PROJECT-------------*/
.project {
    padding: 70px 0;
    text-align: center;
}
.project-item-wrap {
    color: #606060;
}
.project-item {
    display: inline-block;
    width: 32%;
}

.project-item-image {
    width: 100%;
}

.project-item-title {
    font-family: "Myriad Pro", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    text-transform: uppercase;
}

.project-item-subtitle {
    color: #1abb9c;
    font-family: "Myriad Pro", sans-serif;
    font-size: 12px;
    line-height: 26px;
    margin-bottom: 10px;
}

.project-item-text {
    color: #7a7a7a;
    font-family: "Myriad Pro", sans-serif;
    font-size: 14px;
    line-height: 25px;
}
/*---------------END-PROJECT-------------*/
/*---------------FOOTER-------------*/

.footer{
    padding: 65px 0;
    background-color: rgb(55, 55, 55);
}

.footer-block{
    width: 23%;
    margin-right: 2.66%;
    float: left;
}

.footer-block:last-child{
    margin-right: 0;
}

.footer-block-header{
    color: rgb(240, 240, 240);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.footer-block-text{
    color: rgb(202, 202, 202);
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 23px;
}

.footer-block-item{
    padding-left: 25px;
    background-repeat: no-repeat;
}

.footer-block-item_address{
    background-position: 0px 5px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAANCAMAAABM3rQ0AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAjVBMVEXKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysr////QL/H6AAAALXRSTlMAAjlVMCHMuhID0e6+9bFD9B01YtMB9kFA/VgLev4gzaz7KbCZJvoZj4HXDRN7CZFkAAAAAWJLR0QuVNMQhwAAAAlwSFlzAAALEgAACxIB0t1+/AAAAGNJREFUCNctzNcWgkAUQ9EzIDr2UVCxUKzY8v+/JxfJQ9Z+SQAXxQMsyVDSyMN4oulsrgUsFVaspYRUGWy22pFrfzieVJS4Spa63eaG88Vurq1u3eH9odB04qnXH/j3pxdfqx8/+Ainlk8mLAAAAABJRU5ErkJggg==');
}

.footer-block-item_phone{
    background-position: 0px 6px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAALCAMAAABxsOwqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAk1BMVEXKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysr///9cD9/AAAAAL3RSTlMACAwdoe/2y0E27bd6d6j9ddf8FwXUv8PEDXJHFMyUAxU1+KQKyKMB4qACxfmEu21jI8QAAAABYktHRDCu3C3kAAAACXBIWXMAAAsSAAALEgHS3X78AAAAY0lEQVQI1y2KWRaCMAADI7IoULSisi/KIqiQ+9+OFpifyXsTQHEwsHI0LdJ2TsDZ9XwhRHC5Qt5C3e6PJ8jtpxzFSNIM2kBekGWlSy1l+Ho3arcde3wGjl/8yP/Uk5wRcSdeAHz9CWVtEg9RAAAAAElFTkSuQmCC');
}

.footer-block-item_mail{
    background-position: 0px 9px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAICAMAAAD6Ou7DAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAllBMVEXKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysr///8CzAQmAAAAMHRSTlMFjKsLrwlt/IkKscQSUPb7ZxHD1hU36vJI05klSyMvTC2Plxbbp+MciJUQy4EHvcjDrDTmAAAAAWJLR0Qx2dsdcgAAAAlwSFlzAAALEgAACxIB0t1+/AAAAFhJREFUCNc1jMUWg0AUxR5StPggAxR3Kff/v45DC1klmxAJuBElkl+K+nNNNwjm27IBx/V8EBCwMIoTj+OKNMs/RVnVVzRth77HME6geVn/M8422r/P+tBPWzgM5Tc+NcoAAAAASUVORK5CYII=');
}

.footer-block-item,
.footer-block-item-link{
    color: rgb(202, 202, 202);
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
}

.footer-block-item-link:hover{
    text-decoration: underline;
}

/*------------END-FOOTER---------*/

/*----------COPYRIGHT--------*/

.copyright{
    height: 91px;
    background-color: rgb(51, 51, 51);
}

.copyright-text{
    line-height: 91px;
    color: rgb(202, 202, 202);
    font-size: 14px;
    font-weight: 500;
}















