/*
font-family: 'Bebas Neue Book', sans-serif;
font-family: 'Bebas Neue', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'MyriadPro-Regular', sans-serif;
*/

.container {
    width: 1170px;
    margin: 0 auto;
}

.clearfix:after {
    content: '';
    clear: both;
    display: table;
}

/* ------------------ Header list styles --------------------*/

header {
    background: url("../images/header-bg.png") no-repeat top center;
    padding-bottom: 320px;
}

.header-logo {
    float: left;
    margin-top: 25px;
}

.header-logo-link{
    display: block;
    opacity: 0.8;
    color: rgb(220, 0, 0);
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
}

.logo-main {
    font-family: 'Bebas Neue Book', sans-serif;
    font-size: 48px;
}


.logo-small {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 36px;
}


.header-nav {
    float: right;
    margin-top: 40px;
}

.header-nav-menu {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.header-nav-menu-item {
    float: left;
    margin-left: 75px;
}

.header-nav-menu-item-link {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.header-nav-menu-item-link:hover {
    text-decoration: underline;
}

.header-content {
    margin-top: 235px;
    color: white;

    line-height: 36px;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}

.header-content-season {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin-bottom: 45px;
    letter-spacing: 9px;

}

.header-content-sale {
    font-size: 59px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    margin-bottom: 50px;
}

.header-content-trands {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin-bottom: 45px;

}

.header-content-button {
    display: inline-block;
    padding: 0 48px;
    border: solid 3px white;
    border-radius: 3px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 18px;
    color: white;
    text-decoration: none;
    line-height: 56px;
}

/* ------------------ Header list styles END --------------------*/

/* ------------------ Products list styles --------------------------*/

.title-section {
    text-align: center;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-style: italic;
    margin-top: 90px;
    margin-bottom: 90px;
    position: relative;
}

.title-section:before, .title-section:after {
    content: '';
    width: 112px;
    height: 3px;
    background-color: #dc0000;
    display: inline-block;
    position: absolute;
    left: calc(50% - 56px);
}

.title-section:before {
    top: -25px;
}

.title-section:after {
    bottom: -25px;
}


.products-category-item {
    float: left;
    width: 370px;
    background-size: cover;
}

.man {
    background: url("../images/men-img.png") no-repeat;
}

.woman {
    background: url("../images/woman-img.png") no-repeat;
    margin: 0 30px;
}

.watches {
    background: url("../images/watches-img.png") no-repeat;
}

.products-category-item-link {
    display: block;
    padding: 31px 27px;
    text-decoration: none;

}

.products-category-item-link-text {
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    text-align: center;
    font-weight: 300;
    color: #fff;
    font-size: 40px;
    border: 3px solid white;
    height: 350px;
}

.products-category-item-link-text span {
    display: block;
    width: 100%;
}

.products-sale {
    margin-top: 30px;
}

.products-sale-item {
    float: left;
    position: relative;
    width: 560px;
    height: 420px;
}

.autumn-colection {
    background-image: url("../images/autumn-collection.png");
    background-size: cover;
    margin-right: 50px;
}

.mega-sale {
    background: url("../images/mega-sale.png") no-repeat;
    background-size: cover;
}

.products-sale-item-link {
    position: absolute;
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;

}

.products-sale-item-link-text {
    width: 100%;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 45px;
    line-height: 1.2;
    font-weight: 900;
    text-align: center;
    position: relative;
}

.products-sale-item-link-text span {
    display: block;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 45px;
    font-weight: 900;
    padding: 0 7px;
    white-space: pre-line;
    line-height: 55px;
}

.products-sale-item-link-text span:before,
.products-sale-item-link-text span:after {
    content: '';
    display: inline-block;
    background-color: white;
    width: 190px;
    height: 1px;
    position: absolute;
    left: calc(50% - 85px);
}

.products-sale-item-link-text span:before {
    top: -12px;
}

.products-sale-item-link-text span:after {
    bottom: -12px;
}

/* ------------------ Products list styles END ----------------------*/

/* ------------------ Trands list styles ----------------------*/

.trend {
    background: url(../images/trend-bg.png) no-repeat;
    padding-bottom: 130px;
    padding-top: 1px;
    background-size: cover;
    margin-top: 60px;
}

.trend-product-image {
    display: block;
    float: left;

}

.trend-product-discript {
    float: left;
    margin-left: 30px;
    width: 570px;
    letter-spacing: 1.6px;
    font-family: 'MyriadPro-Regular', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #777;
}

.trend-product-discript-title {
    color: #dc0000;
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 15px;
}

.trend-product-descript-tip {
    margin-bottom: 70px;
}

.trend-product-discript-season,
.trend-product-discript-text,
.trend-product-descript-tip-text{
    line-height: 25px;
    margin-bottom: 30px;
}

.trend-separator {
    width: 30px;
    height: 1px;
    background-color: black;
    margin-bottom: 25px;
}

.trend-product-descript-tip-text:first-of-type {
    text-transform: uppercase;
    margin-bottom: 0;
}

.trend-product-discript-size,
.trend-product-discript-action {
    font-size: 0;
}

.trend-product-discript-size {
    margin-bottom: 30px;

}

.trend-product-discript-btn {
    display: inline-block;
    height: 51px;
    border: 1px solid #000;
    line-height: 49px;
    color: rgb(51, 51, 51);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    margin-right: 30px;
    text-align: center;
    box-sizing: border-box;
}

.trend-product-discript-size .trend-product-discript-btn {
    width:  70px;
}

.trend-product-discript-action .trend-product-discript-btn {
    width:  170px;
}

.trend-product-discript-btn-active {
    background-color: rgb(51, 51, 51);
    color: #fff;
}

/*----------End-trend-block------*/

/*-----------Blog---------*/

.blog-news-block-content {
    float: left;
    width: 570px;
    margin-bottom: 30px;
}

.blog-news-block-content:first-of-type {
    margin-right: 30px;
}

.blog-news-content-image {
    margin-bottom: 30px;
}

.blog-news-content-title {
    text-transform: uppercase;
    color: #dc0000;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 30px;
}

.blog-news-content-author {
    opacity: 0.8;
    color: #333;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.divider {
    width: 570px;
    height: 1px;
    background-color: #ecf0f1;
    margin: 30px 0;
}

.blog-news-content-text {
    opacity: 0.6;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
}

.blog-news-content-btn .trend-product-discript-btn {
    width: 170px;
}

/*----------End-Blog------*/

/*-----------Subscribe---------*/

.subscribe {
    background: url(../images/color_overlay.png) no-repeat;
    background-size: cover;
    padding-bottom: 80px;
}

.subscribe-receive-label {
    color: white;
    font-family: 'MyriadPro-Regular', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 70px 0 25px;

}


.subscribe-receive-form-email {
    width: 770px;
    margin-right: 130px;
    height: 50px;
    vertical-align: middle;
    background-color: transparent;
    padding-left: 75px;
    box-sizing: border-box;
    //outline: none;
    border: 1px solid #fff;

}

.subscribe-receive-form-email[placeholder] {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAMAAABBPP0LAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAbFBMVEX///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////82G0A9AAAAI3RSTlMAr/TEgH8ElBGwYCUsRI4Kafv5Z3zCe/jmOgHlxhrFmgeZF0V8qJwAAAABYktHRACIBR1IAAAACXBIWXMAAAsSAAALEgHS3X78AAAAYklEQVQI11XOSRaCMBRE0QpYtCKdIFED0b//PQqE5Mgb3kkVVCR/xYBcCF+SygoIkuXFDl7K/AoHTqpbDQ8Uomk3dcCuvw9j/+ABnDTwBPSLO/BtjhUzc4PFhh/2s4KSU98f+7UJNoZb+tcAAAAASUVORK5CYII=')
                no-repeat 27px center;
    color: #fff;
}

.subscribe-input:-moz-placeholder{
    color: #fff;
}

.subscribe-input::-moz-placeholder{
    color: #fff;
}

.subscribe-input::-webkit-input-placeholder{
    color: #fff;
}

.subscribe-receive-form-btn {
    width: 270px;
    height: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    background: white;
    border-style: none;
    float: right;
    outline: 0;
    cursor: pointer;
}

.subscribe-receive-form-btn[value] {
    text-transform: uppercase;
}

/* ------------------ Subscribe END ----------------------*/

/* ------------------ Footer ----------------------*/
footer {
    text-align: center;
    margin: 70px 0;
    opacity: 0.6;
    color: #333;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.love {
    position: relative;
    display: inline-block;
    top: 3px;
    width:20px;
    height: 16px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAQCAMAAAAhxq8pAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAgVBMVEXcAADcAADcAADcAADcAADcAADcAADcAADcAADcAADcAADcAADcAADcAADcAADcAADcAADcAADcAADcAADcAADcAADcAADcAADcAADcAADcAADcAADcAADcAADcAADcAADcAADcAADcAADcAADcAADcAADcAADcAADcAADcAAD///8E56k6AAAAKXRSTlMALaTm35AXj1j46TNaLvnip6nq+trbgoMK0hob1NUSwAWaYPXzXCjTnzm+sxEAAAABYktHRCpTvtSeAAAACXBIWXMAAAsSAAALEgHS3X78AAAAgUlEQVQY02XOWQ6CQBBF0csgCgooiDaiDA5A7X+D2ghB6fv1cpJKCrBsR9yVB97aFce2+LTxRRdY22AY/g7CSL658TiikL0YHUhMTEhNTDmamHEy8YzKl5YruGSL40J/X1x/7TYYlNVsVclY3UzW1MzdH5qeL/5qO5GuZZHqezXtN6WwIneyHpGBAAAAAElFTkSuQmCC');
}













/* ------------------ Trands list styles END ----------------------*/