@font-face {
    font-family: 'Bebas Neue Book';
    src: url('../fonts/subset-BebasNeueBook.eot');
    src: url('../fonts/subset-BebasNeueBook.eot?#iefix') format('embedded-opentype'),
    url('../fonts/subset-BebasNeueBook.woff') format('woff'),
    url('../fonts/subset-BebasNeueBook.ttf') format('truetype'),
    url('../fonts/subset-BebasNeueBook.svg#BebasNeueBook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/subset-BebasNeueRegular.eot');
    src: url('../fonts/subset-BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/subset-BebasNeueRegular.woff') format('woff'),
    url('../fonts/subset-BebasNeueRegular.ttf') format('truetype'),
    url('../fonts/subset-BebasNeueRegular.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('../fonts/MyriadPro-Regular.eot');
    src: url('../fonts/MyriadPro-Regular.woff2') format('woff2'),
    url('../fonts/MyriadPro-Regular.woff') format('woff'),
    url('../fonts/MyriadPro-Regular.ttf') format('truetype'),
    url('../fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg'),
    url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Archer-Medium';
    src: 	 url('../fonts/Archer-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Archer-Medium.otf')  format('opentype'),
    url('../fonts/Archer-Medium.woff') format('woff'),
    url('../fonts/Archer-Medium.ttf')  format('truetype'),
    url('../fonts/Archer-Medium.svg#Archer-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}
