@media only screen and (max-width: 1199px) and (min-width: 992px) {
	.container,
	#posts {
		width: 970px;
	}

	.about-content-quick {
    	padding: 0px 53px;
	}
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
	.container {
		width: 750px;
	}

	.header-logo {
    	margin-left: 15px;
	}

	.header-menu {
	    margin-right: 30px;
	}

	.header-content {
		padding: 210px 0;
	}

	.team-info {
    height: auto;
	}

	div.team-info-item {
    	width: 49%;
    	margin-right: 1%;
    	margin-bottom: 10px;
    	background-size: cover;
	}

	div.team-info-item:nth-child(2n) {
    	margin-right: 0;
	}

	#filter button {
    	margin-right: 20px;
    }

    .hi-form {
    	padding: 0;
	}

	.content-quick-item.right {
    float: none; 
	}

	.subscribe-email {
    	width: 85%;
    }


	#posts {
		width: 100%;
	}

    #posts .post {
    	width: 32%;
    }
}
@media only screen and (max-width: 767px) and (min-width: 480px) {
	.container,
	#posts {
		width: auto;
	}

	.header-top {
    	margin-bottom: 0;
	}

	.header-logo {
     	float: none; 
     	margin-left: 0; 
	}

	.slicknav_menu {
    	display: block;
    	float: left;
    	background: none;
    	width: 100%;
	}	

	.slicknav_menu .slicknav_icon-bar {
		    background-color: #1dde85;
	}
	
	.slicknav_nav {
		display: block;
    	margin: 0 auto;
    	width: 100%;
	}

	.slicknav_nav li {
		display: inline-block;  	
    	margin-right: 0;
    }

    .slicknav_btn {
    	float: left;
    }

    .slicknav_nav a {
    	margin: 0;
    }

	.header-menu {
		display: none;
	}

	.header-content {
		padding: 160px 0;
	}

	.services-text {
    	padding: 0 20px;
    }

    .services-boxes-item {
    width: 49%;
    margin-right: 1%;
    }

    .services-boxes-item:nth-child(2n) {
    	margin-right: 0;
    }

    .services-boxes-item:nth-child(3n) {
    	margin-right: 1%;
	}

	.team {
    	margin: 25px 0;
	}

	.services-text, .services, .services-boxes {
		margin-top: 25px;
	}

	.services-boxes-item, .gallery-title {
		margin-bottom: 5px;
	}

	.services-boxes-item:hover {
    	outline: none;
	}
	.team-info {
    	height: auto;
	}

	div.team-info-item {
    	width: 49%;
    	margin-right: 1%;
    	margin-bottom: 10px;
    	background-size: cover;
	}

	.soc-button {
    	display: block;
	}

	.soc-button-link {
		margin-right: 10px;
	}

	.soc-button-link:last-child {
		margin-right: 0;
	}

	div.team-info-item:nth-child(2n) {
    	margin-right: 0;
	}

	.team-info-item:hover .info-item-content {
    	height: 355px;
    	padding: 0;
    }	

	.team-info-item:hover {
    	height: 355px;
	}

	#filter {
		padding: 0;
	}

	#filter button {
		margin-right: 10px;
		padding: 0;
	}

	.pricing-item {
    	width: 48%;
    }
	
	.hi-form {
    	padding: 0;
	}

	.hi-form-name, .hi-form-email {
    	width: 100%;
    	margin-top: 20px;
    	margin-right: 0;
    }

    .about-content {
    	float: none; 
    	width: 100%; 
    	margin-right: 0; 
    	text-align: center; 
	}

	.links>.about-content-title {
    	padding: 0; 
	}

	.subscribe {
		margin-top: 10px;
	}

	.subscribe-email {
    	width: 100%;
    }
}

@media only screen and (max-width: 479px) and (min-width: 320px) {
	.container,
	#posts {
		width: auto;
	}

	.header-top {
    	margin-bottom: 0;
	}

	.header-logo {
     	float: none; 
     	margin-left: 0; 
	}

	.slicknav_menu {
    	display: block;
    	float: left;
    	background: none;
    	width: 100%;
	}	

	.slicknav_menu .slicknav_icon-bar {
		background-color: #1dde85;
	}
	
	.slicknav_nav {
		display: block;
    	margin: 0 auto;
    	width: 100%;
	}

	.slicknav_nav li {
		display: inline-block;  	
    	margin-right: 0;
    }

    .slicknav_btn {
    	float: left;
    }

    .slicknav_nav a {
    	margin: 0;
    }

	.header-menu {
		display: none;
	}

	.header-content {
		padding: 100px 0;
	}

	.services-text {
    	padding: 0 20px;
    }

	.services-boxes {
		margin: 25px 10px 0;
	}

    .services-boxes-item {
    	width: 100%;
    	margin-right: 0;
    }

	.team {
    	margin: 25px 0;
	}

	.services-text, .services, .services-boxes {
		margin-top: 25px;
	}

	.services-boxes-item, .gallery-title {
		margin-bottom: 5px;
	}

	.services-boxes-item:hover {
    	outline: none;
	}
	.team-info {
    	height: auto;
	}

	div.team-info-item {
    	width: 100%;
    	margin-right: 0;
    	margin-bottom: 10px;
    	background-size: cover;
	}

	.soc-button {
    	display: block;
	}

	.soc-button-link {
		margin-right: 10px;
	}

	.soc-button-link:last-child {
		margin-right: 0;
	}

	div.team-info-item:nth-child(2n) {
    	margin-right: 0;
	}

	.team-info-item:hover .info-item-content {
    	height: 355px;
    	padding: 0;
    }	

	.team-info-item:hover {
    	height: 355px;
	}

	#filter {
		padding: 0;
	}

	#filter button {
		margin-right: 10px;
		padding: 0;
	}

	.pricing-item {
    	width: 100%;
    	margin-right: 0;
    }
	
	.hi-form {
    	padding: 0;
	}

	.hi-form-name, .hi-form-email {
    	width: 100%;
    	margin-top: 20px;
    	margin-right: 0;
    }

    .about-content {
    	float: none; 
    	width: 100%; 
    	margin-right: 0; 
    	text-align: center; 
	}

	.links>.about-content-title {
    	padding: 0; 
	}

	.about-content-quick {
    	padding: 0px 32px;
	}

	.content-quick-item {
		padding: 5px;
	}

	.subscribe {
		margin-top: 10px;
	}

	.subscribe-email {
    	width: 100%;
    }
}